@import url("https://fonts.googleapis.com/css?family=Inter:regular,700&display=swap");

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  *,*::before,*::after{
    box-sizing: inherit;
  }
  
  body {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 1.2;
    color: #131313;
  }

  a {
    text-decoration: none;
    font-family: inherit;
    font-style: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    
  }

  ul li{
    list-style: none;
  }

  img {
    vertical-align: top;
  }

  p {
    width: auto;
    overflow-wrap: break-word;
  }

  .container{
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
  }

  .header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu{
    margin-right: 70px;
  }

  .header-logo:hover{
    filter: invert(100%) sepia(0%) saturate(0%)  contrast(100%) brightness(100%);
  }

  .menu-list{
    display: flex;
  }

  .menu-link {
    padding: 43px 20px;
    text-transform: uppercase;
  }

  .menu-link:hover{
    background-color: #131313;
    color: #fff;
    transition: all 0.4s;
  }

  .bike{
    border: 0;
    padding: 100px 0 150px;
  }

  .bike-inner{
    display: flex;
  }

  .bike-left-title{
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    margin-bottom: 5px;
  }

  .bike-left-subtitle{
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color:#6F6F6F;
    margin-bottom: 60px;
  }

  .bike-left-text{
    width: 420px;
  }

  .bike-left-text:nth-of-type(1){
    margin-bottom: 20px;
  }

  .bike-left-text:nth-of-type(2){
    margin-bottom: 80px;
  }

  .bike-left-order{
    display: inline-block;
    padding: 28px 81px;
    background: #131313;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1.1em;
    text-transform: uppercase;
    color: #fff;
  }

  .bike-left-order:hover{
    background: #ff4040;
    transition: all 0.4s;
  }