html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.2;
  color: #131313;
}

a {
  text-decoration: none;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

p {
  width: auto;
  overflow-wrap: break-word;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}