.info {
  margin-bottom: 150px;
}
.info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.info-img {
  margin-right: 60px;
  -ms-flex-preferred-size: 570px;
      flex-basis: 570px;
  -o-object-fit: cover;
     object-fit: cover;
}
.info-list {
  -ms-flex-preferred-size: 490px;
      flex-basis: 490px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.info .info-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}
.info .info-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}